<%-include('partials/header')%>
<section class="d-flex justify-content-center p-5">
    <div class="card border-0 bg-primary cursor-pointer">
        <div class="card-body text-center text-light shadow-sm">
            <i class="fas fa-sad-cry i-lg"></i>
            <h1>Page not found!</h1>
        </div>
    </div>
</section>
<%-include('partials/footer')%>